# Cleaning an Orders Dataset with PySpark

![ecommerce_analytics-1224x532](ecommerce_analytics-1224x532.jpg)

As a Data Engineer at an electronics e-commerce company, Voltmart, you have been requested by a peer Machine Learning team to clean the data containing the information about orders made last year. They are planning to further use this cleaned data to build a demand forecasting model. To achieve this, they have shared their requirements regarding the desired output table format.

An analyst shared a parquet file called `"orders_data.parquet"` for you to clean and preprocess. 

You can see the dataset schema below along with the **cleaning requirements**:

## `orders_data.parquet`

| column | data type | description | cleaning requirements | 
|--------|-----------|-------------|-----------------------|
| `order_date` | `timestamp` | Date and time when the order was made | _Modify: Remove orders placed between 12am and 5am (inclusive); convert from timestamp to date_ |
| `time_of_day` | `string` | Period of the day when the order was made | _New column containing (lower bound inclusive, upper bound exclusive): "morning" for orders placed 5-12am, "afternoon" for orders placed 12-6pm, and "evening" for 6-12pm_ |
| `order_id` | `long` | Order ID | _N/A_ |
| `product` | `string` | Name of a product ordered | _Remove rows containing "TV" as the company has stopped selling this product; ensure all values are lowercase_ |
| `product_id` | `double` | Product ID | _N/A_ |
| `category` | `string` | Broader category of a product | _Ensure all values are lowercase_ |
| `purchase_address` | `string` | Address line where the order was made ("House Street, City, State Zipcode") | _N/A_ |
| `purchase_state` | `string` | US State of the purchase address | _New column containing: the State that the purchase was ordered from_ |
| `quantity_ordered` | `long` | Number of product units ordered | _N/A_ |
| `price_each` | `double` | Price of a product unit | _N/A_ |
| `cost_price` | `double` | Cost of production per product unit | _N/A_ |
| `turnover` | `double` | Total amount paid for a product (quantity x price) | _N/A_ |
| `margin` | `double` | Profit made by selling a product (turnover - cost) | _N/A_ |

<br>

# Initialize Spark Session

In [1]:
from pyspark.sql import (
    SparkSession,
    types,
    functions as F,
)

spark = (
    SparkSession
    .builder
    .appName('cleaning_orders_dataset_with_pyspark')
    .getOrCreate()
)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/10/13 16:31:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# Read data source

In [2]:
orders_data = spark.read.parquet('orders_data.parquet')
orders_data.toPandas().head()

           order_date  order_id  ... turnover    margin
0 2023-01-22 21:25:00    141234  ...   700.00  469.0000
1 2023-01-28 14:15:00    141235  ...    14.95    7.4750
2 2023-01-17 13:33:00    141236  ...    23.98   11.9900
3 2023-01-05 20:33:00    141237  ...   149.99   52.4965
4 2023-01-25 11:59:00    141238  ...    11.99    5.9950

[5 rows x 11 columns]

# Remove unneccessary order date

In [3]:
orders_data = orders_data \
    .filter("HOUR(order_date) NOT BETWEEN 1 AND 4") \
    .filter("product NOT LIKE '%TV%'")

# Transform order_date and time_of_day

In [4]:
# Add time_of_day column
orders_data = (
    orders_data
    .withColumn("time_of_day", 
                F.when((F.hour(F.col("order_date"))>=5)&(F.hour(F.col("order_date"))<12), "morning") \
                .when((F.hour(F.col("order_date"))>=12)&(F.hour(F.col("order_date"))<18), "afternoon") \
                .otherwise("evening"))
    .withColumn("order_date", F.col("order_date").cast("date"))
)

orders_data.toPandas().head()

   order_date  order_id  ...    margin  time_of_day
0  2023-01-22    141234  ...  469.0000      evening
1  2023-01-28    141235  ...    7.4750    afternoon
2  2023-01-17    141236  ...   11.9900    afternoon
3  2023-01-05    141237  ...   52.4965      evening
4  2023-01-25    141238  ...    5.9950      morning

[5 rows x 12 columns]

In [5]:
orders_data.select("purchase_address").collect()

[Row(purchase_address='944 Walnut St, Boston, MA 02215'),
 Row(purchase_address='185 Maple St, Portland, OR 97035'),
 Row(purchase_address='538 Adams St, San Francisco, CA 94016'),
 Row(purchase_address='738 10th St, Los Angeles, CA 90001'),
 Row(purchase_address='387 10th St, Austin, TX 73301'),
 Row(purchase_address='775 Willow St, San Francisco, CA 94016'),
 Row(purchase_address='979 Park St, Los Angeles, CA 90001'),
 Row(purchase_address='181 6th St, San Francisco, CA 94016'),
 Row(purchase_address='867 Willow St, Los Angeles, CA 90001'),
 Row(purchase_address='657 Johnson St, San Francisco, CA 94016'),
 Row(purchase_address='492 Walnut St, San Francisco, CA 94016'),
 Row(purchase_address='322 6th St, San Francisco, CA 94016'),
 Row(purchase_address='618 7th St, Los Angeles, CA 90001'),
 Row(purchase_address='512 Wilson St, San Francisco, CA 94016'),
 Row(purchase_address='440 Cedar St, Portland, OR 97035'),
 Row(purchase_address='471 Center St, Los Angeles, CA 90001'),
 Row(purchase_address='414 Walnut St, Boston, MA 02215'),
 Row(purchase_address='220 9th St, Los Angeles, CA 90001'),
 Row(purchase_address='385 11th St, Atlanta, GA 30301'),
 Row(purchase_address='238 Sunset St, Seattle, WA 98101'),
 Row(purchase_address='764 11th St, Los Angeles, CA 90001'),
 Row(purchase_address='675 Washington St, Portland, OR 97035'),
 Row(purchase_address='338 Highland St, San Francisco, CA 94016'),
 Row(purchase_address='820 1st St, San Francisco, CA 94016'),
 Row(purchase_address='920 Adams St, San Francisco, CA 94016'),
 Row(purchase_address='293 Hill St, San Francisco, CA 94016'),
 Row(purchase_address='840 Lincoln St, Atlanta, GA 30301'),
 Row(purchase_address='291 Lincoln St, San Francisco, CA 94016'),
 Row(purchase_address='640 Spruce St, Boston, MA 02215'),
 Row(purchase_address='937 Highland St, New York City, NY 10001'),
 Row(purchase_address='853 Ridge St, Boston, MA 02215'),
 Row(purchase_address='834 4th St, Dallas, TX 75001'),
 Row(purchase_address='649 Sunset St, Los Angeles, CA 90001'),
 Row(purchase_address='611 Elm St, New York City, NY 10001'),
 Row(purchase_address='812 Jefferson St, Los Angeles, CA 90001'),
 Row(purchase_address='469 Hill St, San Francisco, CA 94016'),
 Row(purchase_address='90 13th St, Boston, MA 02215'),
 Row(purchase_address='818 Lincoln St, New York City, NY 10001'),
 Row(purchase_address='994 13th St, Boston, MA 02215'),
 Row(purchase_address='8 Jackson St, Los Angeles, CA 90001'),
 Row(purchase_address='610 Walnut St, Austin, TX 73301'),
 Row(purchase_address='610 Walnut St, Austin, TX 73301'),
 Row(purchase_address='63 Cherry St, Los Angeles, CA 90001'),
 Row(purchase_address='370 Lakeview St, Austin, TX 73301'),
 Row(purchase_address='100 Cherry St, New York City, NY 10001'),
 Row(purchase_address='938 14th St, Boston, MA 02215'),
 Row(purchase_address='530 7th St, Los Angeles, CA 90001'),
 Row(purchase_address='274 2nd St, Atlanta, GA 30301'),
 Row(purchase_address='125 Center St, New York City, NY 10001'),
 Row(purchase_address='462 1st St, Los Angeles, CA 90001'),
 Row(purchase_address='447 Cedar St, Seattle, WA 98101'),
 Row(purchase_address='505 Hickory St, Dallas, TX 75001'),
 Row(purchase_address='386 Elm St, San Francisco, CA 94016'),
 Row(purchase_address='789 Washington St, Los Angeles, CA 90001'),
 Row(purchase_address='534 Elm St, Atlanta, GA 30301'),
 Row(purchase_address='4 1st St, Los Angeles, CA 90001'),
 Row(purchase_address='4 1st St, Los Angeles, CA 90001'),
 Row(purchase_address='632 13th St, Los Angeles, CA 90001'),
 Row(purchase_address='847 Ridge St, Los Angeles, CA 90001'),
 Row(purchase_address='880 Washington St, Boston, MA 02215'),
 Row(purchase_address='907 Highland St, San Francisco, CA 94016'),
 Row(purchase_address='898 Lakeview St, Austin, TX 73301'),
 Row(purchase_address='889 Cedar St, Atlanta, GA 30301'),
 Row(purchase_address='566 Highland St, San Francisco, CA 94016'),
 Row(purchase_address='81 10th St, Dallas, TX 75001'),
 Row(purchase_address='836 Hill St, Dallas, TX 75001'),
 Row(purchase_address='121 Cherry St, Boston, MA 02215'),
 Row(purchase_address='867 Hill St, New York City, NY 10001'),
 Row(purchase_address='90 14th St, Portland, OR 97035'),
 Row(purchase_address='313 14th St, Seattle, WA 98101'),
 Row(purchase_address='363 Willow St, Los Angeles, CA 90001'),
 Row(purchase_address='756 Wilson St, Austin, TX 73301'),
 Row(purchase_address='458 Forest St, San Francisco, CA 94016'),
 Row(purchase_address='895 Johnson St, Boston, MA 02215'),
 Row(purchase_address='926 Cedar St, Portland, OR 97035'),
 Row(purchase_address='423 Elm St, San Francisco, CA 94016'),
 Row(purchase_address='679 8th St, San Francisco, CA 94016'),
 Row(purchase_address='223 North St, Atlanta, GA 30301'),
 Row(purchase_address='741 11th St, San Francisco, CA 94016'),
 Row(purchase_address='38 Johnson St, Los Angeles, CA 90001'),
 Row(purchase_address='700 Jefferson St, New York City, NY 10001'),
 Row(purchase_address='235 South St, Seattle, WA 98101'),
 Row(purchase_address='875 Meadow St, New York City, NY 10001'),
 Row(purchase_address='789 Lakeview St, Boston, MA 02215'),
 Row(purchase_address='548 Maple St, Boston, MA 02215'),
 Row(purchase_address='326 12th St, Los Angeles, CA 90001'),
 Row(purchase_address='207 8th St, Los Angeles, CA 90001'),
 Row(purchase_address='816 Lake St, Boston, MA 02215'),
 Row(purchase_address='240 River St, New York City, NY 10001'),
 Row(purchase_address='851 Maple St, San Francisco, CA 94016'),
 Row(purchase_address='880 Lake St, Austin, TX 73301'),
 Row(purchase_address='131 Center St, San Francisco, CA 94016'),
 Row(purchase_address='736 5th St, Seattle, WA 98101'),
 Row(purchase_address='122 5th St, Portland, ME 04101'),
 Row(purchase_address='391 5th St, Portland, OR 97035'),
 Row(purchase_address='207 7th St, Los Angeles, CA 90001'),
 Row(purchase_address='554 10th St, Los Angeles, CA 90001'),
 Row(purchase_address='174 4th St, Los Angeles, CA 90001'),
 Row(purchase_address='811 Hickory St, Portland, OR 97035'),
 Row(purchase_address='947 Church St, San Francisco, CA 94016'),
 Row(purchase_address='542 4th St, Dallas, TX 75001'),
 Row(purchase_address='539 Lakeview St, Dallas, TX 75001'),
 Row(purchase_address='710 Johnson St, Boston, MA 02215'),
 Row(purchase_address='844 Walnut St, Austin, TX 73301'),
 Row(purchase_address='119 9th St, Seattle, WA 98101'),
 Row(purchase_address='157 1st St, New York City, NY 10001'),
 Row(purchase_address='443 Washington St, Portland, OR 97035'),
 Row(purchase_address='398 5th St, San Francisco, CA 94016'),
 Row(purchase_address='285 Cherry St, Boston, MA 02215'),
 Row(purchase_address='885 Walnut St, Atlanta, GA 30301'),
 Row(purchase_address='493 5th St, Portland, OR 97035'),
 Row(purchase_address='886 10th St, New York City, NY 10001'),
 Row(purchase_address='804 River St, San Francisco, CA 94016'),
 Row(purchase_address='865 Church St, San Francisco, CA 94016'),
 Row(purchase_address='800 4th St, Los Angeles, CA 90001'),
 Row(purchase_address='870 Cherry St, New York City, NY 10001'),
 Row(purchase_address='869 Hill St, Atlanta, GA 30301'),
 Row(purchase_address='674 Main St, Dallas, TX 75001'),
 Row(purchase_address='336 1st St, Boston, MA 02215'),
 Row(purchase_address='850 River St, Atlanta, GA 30301'),
 Row(purchase_address='911 Madison St, San Francisco, CA 94016'),
 Row(purchase_address='383 11th St, Seattle, WA 98101'),
 Row(purchase_address='263 Meadow St, Los Angeles, CA 90001'),
 Row(purchase_address='181 Lakeview St, Portland, OR 97035'),
 Row(purchase_address='392 Cherry St, Atlanta, GA 30301'),
 Row(purchase_address='921 Highland St, Dallas, TX 75001'),
 Row(purchase_address='657 Lincoln St, Dallas, TX 75001'),
 Row(purchase_address='20 Dogwood St, New York City, NY 10001'),
 Row(purchase_address='20 Dogwood St, New York City, NY 10001'),
 Row(purchase_address='23 13th St, San Francisco, CA 94016'),
 Row(purchase_address='387 Hill St, Los Angeles, CA 90001'),
 Row(purchase_address='785 9th St, San Francisco, CA 94016'),
 Row(purchase_address='375 Center St, Seattle, WA 98101'),
 Row(purchase_address='685 West St, Atlanta, GA 30301'),
 Row(purchase_address='134 Hickory St, Portland, ME 04101'),
 Row(purchase_address='82 Hickory St, San Francisco, CA 94016'),
 Row(purchase_address='386 12th St, Boston, MA 02215'),
 Row(purchase_address='49 Center St, Los Angeles, CA 90001'),
 Row(purchase_address='32 West St, Los Angeles, CA 90001'),
 Row(purchase_address='711 11th St, San Francisco, CA 94016'),
 Row(purchase_address='777 North St, Boston, MA 02215'),
 Row(purchase_address='378 Center St, San Francisco, CA 94016'),
 Row(purchase_address='868 14th St, Los Angeles, CA 90001'),
 Row(purchase_address='336 Jackson St, Los Angeles, CA 90001'),
 Row(purchase_address='613 Ridge St, Dallas, TX 75001'),
 Row(purchase_address='418 11th St, Boston, MA 02215'),
 Row(purchase_address='223 Jackson St, Boston, MA 02215'),
 Row(purchase_address='223 Jackson St, Boston, MA 02215'),
 Row(purchase_address='502 Walnut St, Atlanta, GA 30301'),
 Row(purchase_address='692 13th St, New York City, NY 10001'),
 Row(purchase_address='807 Jackson St, San Francisco, CA 94016'),
 Row(purchase_address='24 Park St, Dallas, TX 75001'),
 Row(purchase_address='176 Church St, Los Angeles, CA 90001'),
 Row(purchase_address='667 Park St, New York City, NY 10001'),
 Row(purchase_address='375 Johnson St, New York City, NY 10001'),
 Row(purchase_address='755 Cherry St, Seattle, WA 98101'),
 Row(purchase_address='240 Meadow St, Boston, MA 02215'),
 Row(purchase_address='534 12th St, San Francisco, CA 94016'),
 Row(purchase_address='790 Hickory St, Portland, ME 04101'),
 Row(purchase_address='141 Elm St, San Francisco, CA 94016'),
 Row(purchase_address='940 8th St, New York City, NY 10001'),
 Row(purchase_address='33 Jackson St, Dallas, TX 75001'),
 Row(purchase_address='830 Walnut St, Atlanta, GA 30301'),
 Row(purchase_address='215 Park St, New York City, NY 10001'),
 Row(purchase_address='34 Cedar St, Portland, OR 97035'),
 Row(purchase_address='939 Lakeview St, Atlanta, GA 30301'),
 Row(purchase_address='216 Meadow St, Boston, MA 02215'),
 Row(purchase_address='200 14th St, San Francisco, CA 94016'),
 Row(purchase_address='247 Forest St, Los Angeles, CA 90001'),
 Row(purchase_address='110 13th St, Seattle, WA 98101'),
 Row(purchase_address='946 12th St, Portland, ME 04101'),
 Row(purchase_address='103 14th St, San Francisco, CA 94016'),
 Row(purchase_address='36 Highland St, Portland, ME 04101'),
 Row(purchase_address='890 6th St, Dallas, TX 75001'),
 Row(purchase_address='350 Main St, New York City, NY 10001'),
 Row(purchase_address='397 Dogwood St, Atlanta, GA 30301'),
 Row(purchase_address='793 5th St, San Francisco, CA 94016'),
 Row(purchase_address='81 Madison St, San Francisco, CA 94016'),
 Row(purchase_address='209 North St, Atlanta, GA 30301'),
 Row(purchase_address='207 1st St, San Francisco, CA 94016'),
 Row(purchase_address='145 Lakeview St, New York City, NY 10001'),
 Row(purchase_address='910 Meadow St, San Francisco, CA 94016'),
 Row(purchase_address='74 7th St, San Francisco, CA 94016'),
 Row(purchase_address='970 Lakeview St, Boston, MA 02215'),
 Row(purchase_address='440 South St, New York City, NY 10001'),
 Row(purchase_address='971 Walnut St, Atlanta, GA 30301'),
 Row(purchase_address='347 Hill St, Atlanta, GA 30301'),
 Row(purchase_address='824 Madison St, Dallas, TX 75001'),
 Row(purchase_address='355 13th St, Los Angeles, CA 90001'),
 Row(purchase_address='295 West St, New York City, NY 10001'),
 Row(purchase_address='273 Hill St, Atlanta, GA 30301'),
 Row(purchase_address='428 Cedar St, Los Angeles, CA 90001'),
 Row(purchase_address='728 Lakeview St, Los Angeles, CA 90001'),
 Row(purchase_address='574 Johnson St, San Francisco, CA 94016'),
 Row(purchase_address='179 West St, San Francisco, CA 94016'),
 Row(purchase_address='480 Lakeview St, San Francisco, CA 94016'),
 Row(purchase_address='445 4th St, Atlanta, GA 30301'),
 Row(purchase_address='792 Lakeview St, San Francisco, CA 94016'),
 Row(purchase_address='377 Meadow St, New York City, NY 10001'),
 Row(purchase_address='331 Center St, Seattle, WA 98101'),
 Row(purchase_address='222 Lakeview St, San Francisco, CA 94016'),
 Row(purchase_address='631 Elm St, Los Angeles, CA 90001'),
 Row(purchase_address='186 Meadow St, New York City, NY 10001'),
 Row(purchase_address='485 Elm St, Los Angeles, CA 90001'),
 Row(purchase_address='776 5th St, San Francisco, CA 94016'),
 Row(purchase_address='112 Madison St, Los Angeles, CA 90001'),
 Row(purchase_address='150 14th St, Seattle, WA 98101'),
 Row(purchase_address='51 10th St, Boston, MA 02215'),
 Row(purchase_address='895 Forest St, San Francisco, CA 94016'),
 Row(purchase_address='450 Dogwood St, Boston, MA 02215'),
 Row(purchase_address='521 Park St, San Francisco, CA 94016'),
 Row(purchase_address='521 Park St, San Francisco, CA 94016'),
 Row(purchase_address='678 Elm St, Portland, OR 97035'),
 Row(purchase_address='593 14th St, Austin, TX 73301'),
 Row(purchase_address='469 4th St, Atlanta, GA 30301'),
 Row(purchase_address='87 North St, New York City, NY 10001'),
 Row(purchase_address='588 Main St, Los Angeles, CA 90001'),
 Row(purchase_address='676 Cedar St, Boston, MA 02215'),
 Row(purchase_address='820 Jackson St, Seattle, WA 98101'),
 Row(purchase_address='820 Jackson St, Seattle, WA 98101'),
 Row(purchase_address='344 Lakeview St, New York City, NY 10001'),
 Row(purchase_address='855 2nd St, New York City, NY 10001'),
 Row(purchase_address='233 Cherry St, Dallas, TX 75001'),
 Row(purchase_address='542 Wilson St, Atlanta, GA 30301'),
 Row(purchase_address='147 Center St, Boston, MA 02215'),
 Row(purchase_address='340 10th St, Atlanta, GA 30301'),
 Row(purchase_address='269 4th St, Seattle, WA 98101'),
 Row(purchase_address='154 Jackson St, Boston, MA 02215'),
 Row(purchase_address='571 Jefferson St, Boston, MA 02215'),
 Row(purchase_address='81 11th St, Los Angeles, CA 90001'),
 Row(purchase_address='853 9th St, San Francisco, CA 94016'),
 Row(purchase_address='768 Maple St, San Francisco, CA 94016'),
 Row(purchase_address='580 Johnson St, Boston, MA 02215'),
 Row(purchase_address='548 10th St, Boston, MA 02215'),
 Row(purchase_address='295 Hickory St, New York City, NY 10001'),
 Row(purchase_address='371 South St, San Francisco, CA 94016'),
 Row(purchase_address='303 North St, Atlanta, GA 30301'),
 Row(purchase_address='303 North St, Atlanta, GA 30301'),
 Row(purchase_address='613 Main St, Atlanta, GA 30301'),
 Row(purchase_address='451 River St, Portland, OR 97035'),
 Row(purchase_address='118 Church St, New York City, NY 10001'),
 Row(purchase_address='333 7th St, Portland, OR 97035'),
 Row(purchase_address='127 Madison St, Los Angeles, CA 90001'),
 Row(purchase_address='566 Park St, New York City, NY 10001'),
 Row(purchase_address='940 West St, Los Angeles, CA 90001'),
 Row(purchase_address='831 Sunset St, San Francisco, CA 94016'),
 Row(purchase_address='133 1st St, Los Angeles, CA 90001'),
 Row(purchase_address='941 Lincoln St, Los Angeles, CA 90001'),
 Row(purchase_address='201 Center St, New York City, NY 10001'),
 Row(purchase_address='529 Park St, Portland, OR 97035'),
 Row(purchase_address='331 Chestnut St, Dallas, TX 75001'),
 Row(purchase_address='922 2nd St, Los Angeles, CA 90001'),
 Row(purchase_address='237 Forest St, Austin, TX 73301'),
 Row(purchase_address='442 South St, Dallas, TX 75001'),
 Row(purchase_address='310 8th St, Los Angeles, CA 90001'),
 Row(purchase_address='139 Church St, Atlanta, GA 30301'),
 Row(purchase_address='337 North St, Austin, TX 73301'),
 Row(purchase_address='90 1st St, San Francisco, CA 94016'),
 Row(purchase_address='235 Walnut St, New York City, NY 10001'),
 Row(purchase_address='738 Dogwood St, Los Angeles, CA 90001'),
 Row(purchase_address='920 Center St, San Francisco, CA 94016'),
 Row(purchase_address='304 Park St, Dallas, TX 75001'),
 Row(purchase_address='855 11th St, Seattle, WA 98101'),
 Row(purchase_address='33 Dogwood St, New York City, NY 10001'),
 Row(purchase_address='463 10th St, Atlanta, GA 30301'),
 Row(purchase_address='961 1st St, Los Angeles, CA 90001'),
 Row(purchase_address='190 South St, Austin, TX 73301'),
 Row(purchase_address='195 Chestnut St, San Francisco, CA 94016'),
 Row(purchase_address='610 South St, Los Angeles, CA 90001'),
 Row(purchase_address='608 13th St, New York City, NY 10001'),
 Row(purchase_address='789 4th St, Los Angeles, CA 90001'),
 Row(purchase_address='795 Hickory St, Atlanta, GA 30301'),
 Row(purchase_address='947 10th St, Boston, MA 02215'),
 Row(purchase_address='179 Highland St, Seattle, WA 98101'),
 Row(purchase_address='382 Main St, Seattle, WA 98101'),
 Row(purchase_address='326 Maple St, Los Angeles, CA 90001'),
 Row(purchase_address='991 Adams St, Los Angeles, CA 90001'),
 Row(purchase_address='511 Maple St, San Francisco, CA 94016'),
 Row(purchase_address='23 Cherry St, Atlanta, GA 30301'),
 Row(purchase_address='724 Hickory St, Los Angeles, CA 90001'),
 Row(purchase_address='240 Maple St, Dallas, TX 75001'),
 Row(purchase_address='17 Dogwood St, San Francisco, CA 94016'),
 Row(purchase_address='853 Walnut St, Boston, MA 02215'),
 Row(purchase_address='212 Lincoln St, New York City, NY 10001'),
 Row(purchase_address='401 Chestnut St, Los Angeles, CA 90001'),
 Row(purchase_address='264 River St, Austin, TX 73301'),
 Row(purchase_address='324 7th St, Austin, TX 73301'),
 Row(purchase_address='718 Walnut St, San Francisco, CA 94016'),
 Row(purchase_address='400 Lakeview St, Seattle, WA 98101'),
 Row(purchase_address='439 Washington St, San Francisco, CA 94016'),
 Row(purchase_address='139 Wilson St, Portland, OR 97035'),
 Row(purchase_address='127 6th St, Portland, OR 97035'),
 Row(purchase_address='654 West St, Portland, OR 97035'),
 Row(purchase_address='765 River St, New York City, NY 10001'),
 Row(purchase_address='167 West St, San Francisco, CA 94016'),
 Row(purchase_address='703 Maple St, Los Angeles, CA 90001'),
 Row(purchase_address='296 Lakeview St, Boston, MA 02215'),
 Row(purchase_address='431 Dogwood St, San Francisco, CA 94016'),
 Row(purchase_address='684 5th St, Atlanta, GA 30301'),
 Row(purchase_address='905 Ridge St, San Francisco, CA 94016'),
 Row(purchase_address='988 Adams St, Dallas, TX 75001'),
 Row(purchase_address='164 Willow St, San Francisco, CA 94016'),
 Row(purchase_address='964 Forest St, Los Angeles, CA 90001'),
 Row(purchase_address='240 Cherry St, Atlanta, GA 30301'),
 Row(purchase_address='399 Church St, Boston, MA 02215'),
 Row(purchase_address='399 Church St, Boston, MA 02215'),
 Row(purchase_address='399 Church St, Boston, MA 02215'),
 Row(purchase_address='88 7th St, Los Angeles, CA 90001'),
 Row(purchase_address='533 Jackson St, New York City, NY 10001'),
 Row(purchase_address='16 Forest St, San Francisco, CA 94016'),
 Row(purchase_address='498 Dogwood St, Austin, TX 73301'),
 Row(purchase_address='47 Pine St, Dallas, TX 75001'),
 Row(purchase_address='164 Lincoln St, New York City, NY 10001'),
 Row(purchase_address='406 8th St, San Francisco, CA 94016'),
 Row(purchase_address='345 Chestnut St, Dallas, TX 75001'),
 Row(purchase_address='932 River St, Boston, MA 02215'),
 Row(purchase_address='559 Adams St, Seattle, WA 98101'),
 Row(purchase_address='897 River St, San Francisco, CA 94016'),
 Row(purchase_address='334 12th St, Los Angeles, CA 90001'),
 Row(purchase_address='98 13th St, San Francisco, CA 94016'),
 Row(purchase_address='780 Walnut St, New York City, NY 10001'),
 Row(purchase_address='884 11th St, San Francisco, CA 94016'),
 Row(purchase_address='693 Wilson St, San Francisco, CA 94016'),
 Row(purchase_address='55 Highland St, Los Angeles, CA 90001'),
 Row(purchase_address='158 9th St, San Francisco, CA 94016'),
 Row(purchase_address='235 Ridge St, Los Angeles, CA 90001'),
 Row(purchase_address='112 13th St, Dallas, TX 75001'),
 Row(purchase_address='809 Dogwood St, San Francisco, CA 94016'),

# Transform string columns

In [6]:
orders_data = (
    orders_data
    .withColumn("product", F.lower(F.col("product")))
    .withColumn("category", F.lower(F.col("category")))
    .withColumn("purchase_state", F.regexp_extract(F.col("purchase_address"), r"\b[A-Z]{2}\b", 0))
)

# Reorder columns

In [7]:
order_columns = [
    "order_date",
    "time_of_day",
    "order_id",
    "product",
    "product_id",
    "category",
    "purchase_address",
    "purchase_state",
    "quantity_ordered",
    "price_each",
    "cost_price",
    "turnover",
    "margin"
]
orders_data = orders_data.select(order_columns)

# Write cleaned data

In [8]:
orders_data.write.parquet("orders_data_clean", mode="overwrite")

# Stop Spark session

In [ ]:
spark.stop()